body {
	/*
	This is the black color.
	background-color: #222;
	*/
	background-color: #f2f4f7;
	font-family: 'Libre Franklin', sans-serif;

}
#element::-webkit-scrollbar { 
    display: none; 
}
body, html {
	height: 100%;
}
 ul {
 	padding: 0;	
 }
.blee {
	display: inline;
	list-style: none;
}
.resume {
	text-align: center;
	cursor: pointer;

}
.table-icon {
	border: 2px solid blue;
	height: 50px;
	width:  50px;
}
.chill {
	height: 100px;
}

.bio {
	font-size: 1.3em;
	font-weight: 300;
}

.small-img {
	max-width: 77px;
	float: left;
}

.project-showcase {
	margin-top: 40px;
}

.nowrap {
	white-space: nowrap;
}

.grayscale {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.blue {
	color: #50A6C2;
}

.img-cap {
	min-width: 245px;
	max-width: 245px;
	min-height: 200px;
	max-height: 200px;
}


#name {
	position: relative;
	text-align: center;
	vertical-align: middle;
	padding-top: 40vh;
	color: white;
	margin-bottom: 0;
}

#arrow {
	text-align: center;
	color: white;
	padding-left: 50%;
	cursor: pointer;
	padding-bottom:10px;
	padding-top: 20vh;
	margin-top: 0;
}

#home {
	padding-top: 70px;
	min-height: 100%;
	width: 100%;
	background-image: url("../images/mountains.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	vertical-align: middle;
}

#about {
	min-height: 100%;
	padding-top: 15vh;
}

#test {
	
	min-height: 100vh;
	background-color: #f2f4f7;
}

#me-pic {
	max-height: 200px;
	margin: auto;
	border-radius: 100%;
	margin-top: 20px;
	margin-bottom: 25px;
}

#me-descrip {
	text-align: center;
	padding-top: 1.5em;
}
#me-descrip2 {

	padding-top: 1.5em;
}

#r {
	padding-top: 10px;
	padding-left: 10px;
}

#c {
	max-height: 70px;
	padding-left: 5px;
	padding-top: 5px;
	margin-right: 10px;
}

#js {
	margin-left: 20px;
}

#skills {
	margin-bottom: 30px;
	text-align: left;
}

#skill-thing {
	list-style: none;
}

#resume-link {
	text-align: center;
	margin-top: 3.3em;
}

#projects {
	padding-top: 15vh;
	min-height: 100%;
	background-color: #222;
}

#project-title {
	color: #f2f4f7;
}

#contact {
	padding-top: 15vh;
	min-height: 100%;
	background-color: #f2f4f7;	
}

#quote {
	margin-top: 60vh;
	text-align: center;
}

.yo {
	max-width: 75px;
	max-height: 100px;
}

.center {
	vertical-align: middle;
	margin: 0 auto;
	max-width: 300px;
	line-height: 33em;
}

#icon-links {
	display: inline-block;
	text-align: center;
	max-width: 60px;
	
}

.link-hover {
	color: #323299;
}

.no-a {
	color: #222;
	cursor: pointer;
}
